body{
    font-family: "Gill Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #222020;
    color: white;
}
.preview, .skills, .works, .aboutMe, .contacts{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.preview-container{
    max-width: 1200px;
    margin: 0 auto;
}


.preview__top{
    position: fixed;
    width: 100%;
}
.preview__top-container{
    max-width: 1200px;
    margin: 0 auto;
}


.preview__top-menu ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.preview__top-menu ul li{
    display: inline-block;
    padding: 20px;
}

.preview__top-menu ul li:first-child{
    display: inline-block;
    padding: 20px 20px 20px 0px;
}





.priview__body{
    display: flex;
    position: relative;
    justify-content: space-between;
}
.preview__body-left{
    width: 50%;
    position: relative;
}
.preview__body-left-container{

}
.preview__body-right{
    width: 30%;
    position: relative;

}

.preview__body-right img{
    max-width: 100%;
    margin: 0 auto;
}